[user]
	email = eric.d.suchyta@gmail.com
	name = Eric Suchyta
[core]
	editor = /usr/bin/vim
	pager = cat
[format]
	pretty = oneline
[log]
	decorate = auto
	abbrevCommit = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
